
/*Universal selector */
* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*element selector*/
body, html {
	
	justify-content: center;
    align-items: center;
	color: rgb(189, 185, 185);
	background-color: rgb(37, 62, 59);
	margin: 0px;
	padding: 0px;
	height: 100%;
}

nav {
    position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	background-color: rgb(220, 234, 235);
	border: 1px solid rgb(207, 207, 207);
}
/*id selector*/
#nav-link-date-container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-left: 10%;
	margin-right: 10%;
}

#nav-link-container {
	display: inline-block;
	align-items: center;
}
#nav-link-container a {
	font-size: 2REM;
	justify-content: left;
	margin-right: 1.5REM;
}


div#date {
	display: inline-block;
	font-size: 2REM;
	justify-content: right;
	color: rgb(37, 39, 37);
}

/*pseudo-class selector */
a:link {
		color: rgb(78, 96, 78);
	}

a:hover {
		color: rgb(40, 16, 82);
	}

a:active {
		color: rgb(42, 42, 139);
	}

a:visited {
		color: rgb(37, 39, 37);
	}
	
main {
	width: 80%;
	margin: 4%;
	margin: auto;
	display:flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 5REM;
	margin-bottom: 2%;
	margin-top:5%;
}

#contact-and-portfolio {
	width: 84%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
}

/*class selector*/
.top-box {
	width: 30%;
	display: inline-block;
	border:rgb(189, 185, 185) solid 2px;
	padding: 1%;
	border-radius: 5px;
}

section h2 {
	font-size: 28px;
	margin-bottom: -.5%;
	margin-left: 3%;
}

 .section-name {
	width: 80%;
	border:rgb(189, 185, 185) solid 1px;
	margin: 1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	border-radius: 5px;
}

.title-date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: -3%;
	margin-top: -4%;
	margin-bottom:-4%;
}

.job-title {
	font-size: 18px;
	align-items: center;
}

.dates-worked {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.company-name {
	font-size: 20px;
	margin-left: 5%;
}

.role-container {
	margin-left: 8%;
	margin-right:12%;
}

#education {
}

#universities {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
}
.university-container {
	margin-left: 8%;
	margin-right: 12%;
	margin-bottom: 2%;
}

.name-years {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.university-name {
	font-size: 20px;
}

.dates-attended {
	font-weight: strong;
}

.degree-name {
	margin-left: 5%;
}


#skill-list {
	display: flex;
	flex-direction: column;
	margin-left: 8%;
	margin-right: 12%;
}
ul {
	list-style: circle inside;
}

table, th, td{
	border: 1px solid white;
	border-collapse: collapse;
}

#goals {
	padding-left: 12%;
	padding-right: 8%;
}

.section-name-career {
	width: 80%;
	border:rgb(189, 185, 185) solid 1px;
	margin: 1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	border-radius: 5px;
	align-items:center;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.section-name-cover {
	width: 80%;
	border:rgb(189, 185, 185) solid 1px;
	margin: 1%;
	padding: 2%;
	border-radius: 5px;
	align-items:center;
	display: flex;
	flex-direction: column;
	align-items:center;
}

.media {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-left: 12%;
	padding-right: 8%;
}

#request-contact {
	display: flex;
	flex-direction: row;
}

#contact {
	width:100%;
}

#greeting {
	width: 90%;
}

#ending {
	width:90%;
}

#ending div {
	text-align: right;
}

#intro, #main, #closing {
	width: 90%;
}

p {
	text-indent: 3%;
}
/*descendant selector use an element tag and then another tag that is a descendant tag, for ex:
section div {...} or p span



universal selector - specified using an asterix - matches all elements in the webpage, for example, every single thing
liek so:
* {
	margin:0;
	padding:0;
}

font property
font:

color property
color:

font-style property
font-style:

background-color property
background-color, 
background-image, 
background

margin property
padding property
border property
margin:
padding:
border:


at least 1 list-style property
*/